$text-accent-color: #26c6da;
$text-primary-color: #99abb4;

// estilos para el area de chat
.chat-background {
  background-color: #ecf3f7;
}

// estilos de anchor tag a botones
.anchor-button {
  text-align: left;
  border: none;
  background: transparent;
  color: $text-primary-color;
  width: 100%;
  padding: 8px 15px;
  display: block;
  font-size: 15px;
  border-radius: 4px;
  white-space: nowrap;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.anchor-button > i {
  color: $text-primary-color;
  width: 27px;
  height: 27px;
  font-size: 21px;
  line-height: 27px;
  display: inline-block;
  vertical-align: middle;
}

.anchor-button:hover {
  color: $text-accent-color;
}

.anchor-button:hover > i {
  color: $text-accent-color;
}

.anchor-button:focus {
  i {
    color: white;
  }
  color: white;
  outline: none;
  background-color: $text-accent-color;
}

.anchor-button:focus::before { 
  content: "";
  width: 1rem;
	height: 1rem;
  border-radius: 50%;
  background-color: gray;
  opacity: 0;
  position: absolute;
  // posición del mouse
  top: var(--y-pos);
  left: var(--x-pos);
  mix-blend-mode: blend;
  transform: translateX(-50%) translateY(-50%);
  animation: ripple 1s ease-out;
}

@keyframes ripple {
	0% { 
    opacity: 1;
  } 80% { 
    transform: scale(50);
  } 100% { 
    opacity: 0; 
  }
}

// Estilos para tarjeta de usuario
.userBg {
  background: url("/assets/images/background/user-info.jpg") no-repeat;
}

.dropdown-toggle {
  border: none;
  width: 100%;
  color: white;
  padding: 6px 30px;
  text-align: left;
  position: relative;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.dropdown-toggle:after {
  content: "";
  width: .6rem;
  height: .6rem;
  position: absolute;
  border-bottom: .4rem solid transparent;
  border-left: .4rem solid transparent;
  border-right: .4rem solid transparent;
  border-top: .4rem solid white;
  top: 50%;
  transform: translateY(-25%);
  right: 1rem;
}

.dropdown-toggle:focus {
  outline: none;
}

// barra lateral
.sidebar {
  width: 240px;
  display: flex;
  flex-direction: column;
  position: relative;
  -webkit-box-shadow: 1px 0px 20px rgb(0 0 0 / 8%);
  box-shadow: 1px 0px 20px rgb(0 0 0 / 8%);
}

.scroll {
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
  display: none;
}