.widget {
  width: 4rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dfdfdf;
}

.widget-content {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  width: 500px;
}

.widget-container {
  display: none;
  box-sizing: border-box;
  width: 400px;
  height: 647px;
  position: absolute;
  bottom: 40px;
  right: 40px;
}